@using EPiServer.Web.Mvc.Html
@model OptimizelyTask.Models.OfferBlock

<article id="@Html.PropertyFor(x => x.HtmlId)" class="d-inline border border-3 rounded-4 p-5 d-flex flex-column flex-grow-0 default-offer">
    <h2>@Html.PropertyFor(x => x.Title)</h2>
    <div>
        <p class="h1 fw-bold"><span id="price_@Html.PropertyFor(x => x.HtmlId)">@Html.PropertyFor(x => x.Price)</span> kr.<div>
        <div class="default-offer-description">@Html.PropertyFor(x => x.PriceDescription)</div>
    </div>
    <section">
        @if(Model != null && Model.Benefits.Any())
        {
            <ul class="list-inline">
                @foreach(var benefit in Model.Benefits)
                {
                    <li class="d-block">
                        <img src="svg/check2.svg" class="d-inline bi-check" style="transform: scale(1.8);" />
                        <div class="d-inline p-3 text-break">@benefit</div>
                    </li>
                }
            </ul>
        }
    </section>
</article>

<script>

$( "#@Html.PropertyFor(x => x.HtmlId)" ).on( "click", function() {
  if($( this ).hasClass('selected-offer')){
    $(this).removeClass('selected-offer');
    $("#compact_@Html.PropertyFor(x => x.HtmlId)").addClass('d-none');
    
    var currentPrice = parseInt($("#totalPerItem").text());
    var blockPrice = parseInt(@Html.PropertyFor(x => x.Price));
    $("#totalPerItem").text(currentPrice - blockPrice);
    var rangeSelected = parseInt($("#rangeSelected").text());
    $("#total" ).text(rangeSelected * (currentPrice - blockPrice));
  }else{
    $(this).addClass('selected-offer');
    $("#compact_@Html.PropertyFor(x => x.HtmlId)").removeClass('d-none');

    var currentPrice = parseInt($("#totalPerItem").text());
    var blockPrice = parseInt(@Html.PropertyFor(x => x.Price));
    $("#totalPerItem").text(currentPrice + blockPrice);
    var rangeSelected = parseInt($("#rangeSelected").text());
    $("#total" ).text(rangeSelected * (currentPrice + blockPrice));
  }  
} );
</script>